<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
	<div class="col-xs-3">
		<div class="circle">
			<%= link_to root_path, :class => 'logo' do %>
  <br />
  Tech
  <br />
  Is
  <br />
  Everywhere
</div>
	<% end %>
	</div>
	<div class ="col-xs-4 slogan">
		Bringing you insight on technology.
	</div>
	<div class="col-xs-5 links">
		<%= link_to 'Contribute', new_quote_path %>
		<%= link_to 'About', '#' %>
	</header>
	<hr />
	<br class="clear" />

	<div class="container">
	<%= yield %>
</div>
	<div class="footer">
		<div class="container">
			<div class="col-xs-6">
				<%= link_to "This isn't enough, I need more.", root_path , :class => 'next-quote' %>
			</div>
			<div class="col-xs-6 footer-blurb">
			Proudly hacked in Portland,OR by <a href="#"> Tim Fletcher</a> <br/>

			</div>
	</div>
</div>

</body>
</html>
